
    <html>
    <header>
        <link href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css" rel="stylesheet">
        <style>
          tbody {
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            }
        </style>
    </header>
    <body>
    <table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Segment</th>
      <th>Country</th>
      <th>Product</th>
      <th>Discount Band</th>
      <th>Units Sold</th>
      <th>Manufacturing Price</th>
      <th>Sale Price</th>
      <th>Gross Sales</th>
      <th>Discounts</th>
      <th>Sales</th>
      <th>COGS</th>
      <th>Profit</th>
      <th>Date</th>
      <th>Month Number</th>
      <th>Month Name</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Carretera</td>
      <td>NaN</td>
      <td>2178.0</td>
      <td>3</td>
      <td>15</td>
      <td>32670.0</td>
      <td>0.000</td>
      <td>32670.000</td>
      <td>21780.0</td>
      <td>10890.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Carretera</td>
      <td>NaN</td>
      <td>888.0</td>
      <td>3</td>
      <td>15</td>
      <td>13320.0</td>
      <td>0.000</td>
      <td>13320.000</td>
      <td>8880.0</td>
      <td>4440.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Carretera</td>
      <td>NaN</td>
      <td>2470.0</td>
      <td>3</td>
      <td>15</td>
      <td>37050.0</td>
      <td>0.000</td>
      <td>37050.000</td>
      <td>24700.0</td>
      <td>12350.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Montana</td>
      <td>NaN</td>
      <td>921.0</td>
      <td>5</td>
      <td>15</td>
      <td>13815.0</td>
      <td>0.000</td>
      <td>13815.000</td>
      <td>9210.0</td>
      <td>4605.000</td>
      <td>2014-03-01</td>
      <td>3</td>
      <td>March</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Montana</td>
      <td>NaN</td>
      <td>2470.0</td>
      <td>5</td>
      <td>15</td>
      <td>37050.0</td>
      <td>0.000</td>
      <td>37050.000</td>
      <td>24700.0</td>
      <td>12350.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Montana</td>
      <td>NaN</td>
      <td>615.0</td>
      <td>5</td>
      <td>15</td>
      <td>9225.0</td>
      <td>0.000</td>
      <td>9225.000</td>
      <td>6150.0</td>
      <td>3075.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>NaN</td>
      <td>974.0</td>
      <td>10</td>
      <td>15</td>
      <td>14610.0</td>
      <td>0.000</td>
      <td>14610.000</td>
      <td>9740.0</td>
      <td>4870.000</td>
      <td>2014-02-01</td>
      <td>2</td>
      <td>February</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>NaN</td>
      <td>549.0</td>
      <td>10</td>
      <td>15</td>
      <td>8235.0</td>
      <td>0.000</td>
      <td>8235.000</td>
      <td>5490.0</td>
      <td>2745.000</td>
      <td>2013-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>NaN</td>
      <td>2472.0</td>
      <td>10</td>
      <td>15</td>
      <td>37080.0</td>
      <td>0.000</td>
      <td>37080.000</td>
      <td>24720.0</td>
      <td>12360.000</td>
      <td>2014-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>NaN</td>
      <td>2152.0</td>
      <td>10</td>
      <td>15</td>
      <td>32280.0</td>
      <td>0.000</td>
      <td>32280.000</td>
      <td>21520.0</td>
      <td>10760.000</td>
      <td>2013-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>VTT</td>
      <td>NaN</td>
      <td>2178.0</td>
      <td>250</td>
      <td>15</td>
      <td>32670.0</td>
      <td>0.000</td>
      <td>32670.000</td>
      <td>21780.0</td>
      <td>10890.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>VTT</td>
      <td>NaN</td>
      <td>888.0</td>
      <td>250</td>
      <td>15</td>
      <td>13320.0</td>
      <td>0.000</td>
      <td>13320.000</td>
      <td>8880.0</td>
      <td>4440.000</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Amarilla</td>
      <td>NaN</td>
      <td>615.0</td>
      <td>260</td>
      <td>15</td>
      <td>9225.0</td>
      <td>0.000</td>
      <td>9225.000</td>
      <td>6150.0</td>
      <td>3075.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>2296.0</td>
      <td>10</td>
      <td>15</td>
      <td>34440.0</td>
      <td>344.400</td>
      <td>34095.600</td>
      <td>22960.0</td>
      <td>11135.600</td>
      <td>2014-02-01</td>
      <td>2</td>
      <td>February</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Montana</td>
      <td>Low</td>
      <td>2214.0</td>
      <td>5</td>
      <td>15</td>
      <td>33210.0</td>
      <td>332.100</td>
      <td>32877.900</td>
      <td>22140.0</td>
      <td>10737.900</td>
      <td>2014-03-01</td>
      <td>3</td>
      <td>March</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>1514.0</td>
      <td>10</td>
      <td>15</td>
      <td>22710.0</td>
      <td>227.100</td>
      <td>22482.900</td>
      <td>15140.0</td>
      <td>7342.900</td>
      <td>2014-02-01</td>
      <td>2</td>
      <td>February</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>747.0</td>
      <td>10</td>
      <td>15</td>
      <td>11205.0</td>
      <td>112.050</td>
      <td>11092.950</td>
      <td>7470.0</td>
      <td>3622.950</td>
      <td>2014-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Amarilla</td>
      <td>Low</td>
      <td>321.0</td>
      <td>260</td>
      <td>15</td>
      <td>4815.0</td>
      <td>48.150</td>
      <td>4766.850</td>
      <td>3210.0</td>
      <td>1556.850</td>
      <td>2013-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>2363.0</td>
      <td>10</td>
      <td>15</td>
      <td>35445.0</td>
      <td>708.900</td>
      <td>34736.100</td>
      <td>23630.0</td>
      <td>11106.100</td>
      <td>2014-02-01</td>
      <td>2</td>
      <td>February</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>1925.0</td>
      <td>10</td>
      <td>15</td>
      <td>28875.0</td>
      <td>577.500</td>
      <td>28297.500</td>
      <td>19250.0</td>
      <td>9047.500</td>
      <td>2013-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>1945.0</td>
      <td>10</td>
      <td>15</td>
      <td>29175.0</td>
      <td>875.250</td>
      <td>28299.750</td>
      <td>19450.0</td>
      <td>8849.750</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>VTT</td>
      <td>Low</td>
      <td>1945.0</td>
      <td>250</td>
      <td>15</td>
      <td>29175.0</td>
      <td>875.250</td>
      <td>28299.750</td>
      <td>19450.0</td>
      <td>8849.750</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Montana</td>
      <td>Low</td>
      <td>2031.0</td>
      <td>5</td>
      <td>15</td>
      <td>30465.0</td>
      <td>1218.600</td>
      <td>29246.400</td>
      <td>20310.0</td>
      <td>8936.400</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>2031.0</td>
      <td>10</td>
      <td>15</td>
      <td>30465.0</td>
      <td>1218.600</td>
      <td>29246.400</td>
      <td>20310.0</td>
      <td>8936.400</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>2261.0</td>
      <td>10</td>
      <td>15</td>
      <td>33915.0</td>
      <td>1356.600</td>
      <td>32558.400</td>
      <td>22610.0</td>
      <td>9948.400</td>
      <td>2013-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Montana</td>
      <td>Low</td>
      <td>1967.0</td>
      <td>5</td>
      <td>15</td>
      <td>29505.0</td>
      <td>1180.200</td>
      <td>28324.800</td>
      <td>19670.0</td>
      <td>8654.800</td>
      <td>2014-03-01</td>
      <td>3</td>
      <td>March</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>218.0</td>
      <td>10</td>
      <td>15</td>
      <td>3270.0</td>
      <td>130.800</td>
      <td>3139.200</td>
      <td>2180.0</td>
      <td>959.200</td>
      <td>2014-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>671.0</td>
      <td>10</td>
      <td>15</td>
      <td>10065.0</td>
      <td>402.600</td>
      <td>9662.400</td>
      <td>6710.0</td>
      <td>2952.400</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>Low</td>
      <td>1514.0</td>
      <td>10</td>
      <td>15</td>
      <td>22710.0</td>
      <td>908.400</td>
      <td>21801.600</td>
      <td>15140.0</td>
      <td>6661.600</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>VTT</td>
      <td>Low</td>
      <td>1514.0</td>
      <td>250</td>
      <td>15</td>
      <td>22710.0</td>
      <td>908.400</td>
      <td>21801.600</td>
      <td>15140.0</td>
      <td>6661.600</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Amarilla</td>
      <td>Low</td>
      <td>671.0</td>
      <td>260</td>
      <td>15</td>
      <td>10065.0</td>
      <td>402.600</td>
      <td>9662.400</td>
      <td>6710.0</td>
      <td>2952.400</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Carretera</td>
      <td>Medium</td>
      <td>2791.0</td>
      <td>3</td>
      <td>15</td>
      <td>41865.0</td>
      <td>2093.250</td>
      <td>39771.750</td>
      <td>27910.0</td>
      <td>11861.750</td>
      <td>2014-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>2620.0</td>
      <td>10</td>
      <td>15</td>
      <td>39300.0</td>
      <td>1965.000</td>
      <td>37335.000</td>
      <td>26200.0</td>
      <td>11135.000</td>
      <td>2014-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>251</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>2116.0</td>
      <td>10</td>
      <td>15</td>
      <td>31740.0</td>
      <td>1587.000</td>
      <td>30153.000</td>
      <td>21160.0</td>
      <td>8993.000</td>
      <td>2013-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>555.0</td>
      <td>120</td>
      <td>15</td>
      <td>8325.0</td>
      <td>416.250</td>
      <td>7908.750</td>
      <td>5550.0</td>
      <td>2358.750</td>
      <td>2014-01-01</td>
      <td>1</td>
      <td>January</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>253</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>2861.0</td>
      <td>120</td>
      <td>15</td>
      <td>42915.0</td>
      <td>2145.750</td>
      <td>40769.250</td>
      <td>28610.0</td>
      <td>12159.250</td>
      <td>2014-01-01</td>
      <td>1</td>
      <td>January</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>272</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>3801.0</td>
      <td>10</td>
      <td>15</td>
      <td>57015.0</td>
      <td>3420.900</td>
      <td>53594.100</td>
      <td>38010.0</td>
      <td>15584.100</td>
      <td>2014-04-01</td>
      <td>4</td>
      <td>April</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>274</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Carretera</td>
      <td>Medium</td>
      <td>2844.0</td>
      <td>3</td>
      <td>15</td>
      <td>42660.0</td>
      <td>2559.600</td>
      <td>40100.400</td>
      <td>28440.0</td>
      <td>11660.400</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>277</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Carretera</td>
      <td>Medium</td>
      <td>2030.0</td>
      <td>3</td>
      <td>15</td>
      <td>30450.0</td>
      <td>1827.000</td>
      <td>28623.000</td>
      <td>20300.0</td>
      <td>8323.000</td>
      <td>2014-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>289</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>1530.0</td>
      <td>120</td>
      <td>15</td>
      <td>22950.0</td>
      <td>1377.000</td>
      <td>21573.000</td>
      <td>15300.0</td>
      <td>6273.000</td>
      <td>2014-05-01</td>
      <td>5</td>
      <td>May</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>294</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>VTT</td>
      <td>Medium</td>
      <td>2844.0</td>
      <td>250</td>
      <td>15</td>
      <td>42660.0</td>
      <td>2559.600</td>
      <td>40100.400</td>
      <td>28440.0</td>
      <td>11660.400</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>305</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>2198.0</td>
      <td>10</td>
      <td>15</td>
      <td>32970.0</td>
      <td>1978.200</td>
      <td>30991.800</td>
      <td>21980.0</td>
      <td>9011.800</td>
      <td>2014-08-01</td>
      <td>8</td>
      <td>August</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>306</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>1743.0</td>
      <td>10</td>
      <td>15</td>
      <td>26145.0</td>
      <td>1568.700</td>
      <td>24576.300</td>
      <td>17430.0</td>
      <td>7146.300</td>
      <td>2014-08-01</td>
      <td>8</td>
      <td>August</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>307</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>1153.0</td>
      <td>10</td>
      <td>15</td>
      <td>17295.0</td>
      <td>1037.700</td>
      <td>16257.300</td>
      <td>11530.0</td>
      <td>4727.300</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>311</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>VTT</td>
      <td>Medium</td>
      <td>1153.0</td>
      <td>250</td>
      <td>15</td>
      <td>17295.0</td>
      <td>1037.700</td>
      <td>16257.300</td>
      <td>11530.0</td>
      <td>4727.300</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>318</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>1262.0</td>
      <td>120</td>
      <td>15</td>
      <td>18930.0</td>
      <td>1325.100</td>
      <td>17604.900</td>
      <td>12620.0</td>
      <td>4984.900</td>
      <td>2014-05-01</td>
      <td>5</td>
      <td>May</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>335</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>2101.0</td>
      <td>10</td>
      <td>15</td>
      <td>31515.0</td>
      <td>2206.050</td>
      <td>29308.950</td>
      <td>21010.0</td>
      <td>8298.950</td>
      <td>2014-08-01</td>
      <td>8</td>
      <td>August</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>336</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>2931.0</td>
      <td>10</td>
      <td>15</td>
      <td>43965.0</td>
      <td>3077.550</td>
      <td>40887.450</td>
      <td>29310.0</td>
      <td>11577.450</td>
      <td>2013-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>362</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Carretera</td>
      <td>Medium</td>
      <td>490.0</td>
      <td>3</td>
      <td>15</td>
      <td>7350.0</td>
      <td>588.000</td>
      <td>6762.000</td>
      <td>4900.0</td>
      <td>1862.000</td>
      <td>2014-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>364</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Montana</td>
      <td>Medium</td>
      <td>2501.0</td>
      <td>5</td>
      <td>15</td>
      <td>37515.0</td>
      <td>3001.200</td>
      <td>34513.800</td>
      <td>25010.0</td>
      <td>9503.800</td>
      <td>2014-03-01</td>
      <td>3</td>
      <td>March</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>369</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Montana</td>
      <td>Medium</td>
      <td>711.0</td>
      <td>5</td>
      <td>15</td>
      <td>10665.0</td>
      <td>853.200</td>
      <td>9811.800</td>
      <td>7110.0</td>
      <td>2701.800</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>399</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Amarilla</td>
      <td>Medium</td>
      <td>711.0</td>
      <td>260</td>
      <td>15</td>
      <td>10665.0</td>
      <td>853.200</td>
      <td>9811.800</td>
      <td>7110.0</td>
      <td>2701.800</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>415</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>3675.0</td>
      <td>10</td>
      <td>15</td>
      <td>55125.0</td>
      <td>4961.250</td>
      <td>50163.750</td>
      <td>36750.0</td>
      <td>13413.750</td>
      <td>2014-04-01</td>
      <td>4</td>
      <td>April</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>417</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>Medium</td>
      <td>1227.0</td>
      <td>10</td>
      <td>15</td>
      <td>18405.0</td>
      <td>1656.450</td>
      <td>16748.550</td>
      <td>12270.0</td>
      <td>4478.550</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>422</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>245.0</td>
      <td>120</td>
      <td>15</td>
      <td>3675.0</td>
      <td>330.750</td>
      <td>3344.250</td>
      <td>2450.0</td>
      <td>894.250</td>
      <td>2014-05-01</td>
      <td>5</td>
      <td>May</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>434</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>VTT</td>
      <td>Medium</td>
      <td>1227.0</td>
      <td>250</td>
      <td>15</td>
      <td>18405.0</td>
      <td>1656.450</td>
      <td>16748.550</td>
      <td>12270.0</td>
      <td>4478.550</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>438</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Amarilla</td>
      <td>Medium</td>
      <td>970.0</td>
      <td>260</td>
      <td>15</td>
      <td>14550.0</td>
      <td>1309.500</td>
      <td>13240.500</td>
      <td>9700.0</td>
      <td>3540.500</td>
      <td>2013-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>448</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Velo</td>
      <td>Medium</td>
      <td>2628.0</td>
      <td>120</td>
      <td>15</td>
      <td>39420.0</td>
      <td>3547.800</td>
      <td>35872.200</td>
      <td>26280.0</td>
      <td>9592.200</td>
      <td>2014-04-01</td>
      <td>4</td>
      <td>April</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>453</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Amarilla</td>
      <td>Medium</td>
      <td>1630.5</td>
      <td>260</td>
      <td>15</td>
      <td>24457.5</td>
      <td>2201.175</td>
      <td>22256.325</td>
      <td>16305.0</td>
      <td>5951.325</td>
      <td>2014-07-01</td>
      <td>7</td>
      <td>July</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>462</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Montana</td>
      <td>High</td>
      <td>2072.0</td>
      <td>5</td>
      <td>15</td>
      <td>31080.0</td>
      <td>3108.000</td>
      <td>27972.000</td>
      <td>20720.0</td>
      <td>7252.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>465</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Paseo</td>
      <td>High</td>
      <td>2167.0</td>
      <td>10</td>
      <td>15</td>
      <td>32505.0</td>
      <td>3250.500</td>
      <td>29254.500</td>
      <td>21670.0</td>
      <td>7584.500</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>467</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Velo</td>
      <td>High</td>
      <td>681.0</td>
      <td>120</td>
      <td>15</td>
      <td>10215.0</td>
      <td>1021.500</td>
      <td>9193.500</td>
      <td>6810.0</td>
      <td>2383.500</td>
      <td>2014-01-01</td>
      <td>1</td>
      <td>January</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>468</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Velo</td>
      <td>High</td>
      <td>510.0</td>
      <td>120</td>
      <td>15</td>
      <td>7650.0</td>
      <td>765.000</td>
      <td>6885.000</td>
      <td>5100.0</td>
      <td>1785.000</td>
      <td>2014-04-01</td>
      <td>4</td>
      <td>April</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>469</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Velo</td>
      <td>High</td>
      <td>790.0</td>
      <td>120</td>
      <td>15</td>
      <td>11850.0</td>
      <td>1185.000</td>
      <td>10665.000</td>
      <td>7900.0</td>
      <td>2765.000</td>
      <td>2014-05-01</td>
      <td>5</td>
      <td>May</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>478</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>VTT</td>
      <td>High</td>
      <td>641.0</td>
      <td>250</td>
      <td>15</td>
      <td>9615.0</td>
      <td>961.500</td>
      <td>8653.500</td>
      <td>6410.0</td>
      <td>2243.500</td>
      <td>2014-07-01</td>
      <td>7</td>
      <td>July</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>482</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>VTT</td>
      <td>High</td>
      <td>2167.0</td>
      <td>250</td>
      <td>15</td>
      <td>32505.0</td>
      <td>3250.500</td>
      <td>29254.500</td>
      <td>21670.0</td>
      <td>7584.500</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>492</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>2072.0</td>
      <td>260</td>
      <td>15</td>
      <td>31080.0</td>
      <td>3108.000</td>
      <td>27972.000</td>
      <td>20720.0</td>
      <td>7252.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>497</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Velo</td>
      <td>High</td>
      <td>384.0</td>
      <td>120</td>
      <td>15</td>
      <td>5760.0</td>
      <td>633.600</td>
      <td>5126.400</td>
      <td>3840.0</td>
      <td>1286.400</td>
      <td>2014-01-01</td>
      <td>1</td>
      <td>January</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>501</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>3199.5</td>
      <td>260</td>
      <td>15</td>
      <td>47992.5</td>
      <td>5279.175</td>
      <td>42713.325</td>
      <td>31995.0</td>
      <td>10718.325</td>
      <td>2014-07-01</td>
      <td>7</td>
      <td>July</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>507</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Carretera</td>
      <td>High</td>
      <td>1560.0</td>
      <td>3</td>
      <td>15</td>
      <td>23400.0</td>
      <td>2574.000</td>
      <td>20826.000</td>
      <td>15600.0</td>
      <td>5226.000</td>
      <td>2013-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>511</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Montana</td>
      <td>High</td>
      <td>2157.0</td>
      <td>5</td>
      <td>15</td>
      <td>32355.0</td>
      <td>3559.050</td>
      <td>28795.950</td>
      <td>21570.0</td>
      <td>7225.950</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>518</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1984.0</td>
      <td>10</td>
      <td>15</td>
      <td>29760.0</td>
      <td>3273.600</td>
      <td>26486.400</td>
      <td>19840.0</td>
      <td>6646.400</td>
      <td>2014-08-01</td>
      <td>8</td>
      <td>August</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>523</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Velo</td>
      <td>High</td>
      <td>655.0</td>
      <td>120</td>
      <td>15</td>
      <td>9825.0</td>
      <td>1080.750</td>
      <td>8744.250</td>
      <td>6550.0</td>
      <td>2194.250</td>
      <td>2013-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>534</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>2157.0</td>
      <td>260</td>
      <td>15</td>
      <td>32355.0</td>
      <td>3559.050</td>
      <td>28795.950</td>
      <td>21570.0</td>
      <td>7225.950</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>539</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Carretera</td>
      <td>High</td>
      <td>2689.0</td>
      <td>3</td>
      <td>15</td>
      <td>40335.0</td>
      <td>4840.200</td>
      <td>35494.800</td>
      <td>26890.0</td>
      <td>8604.800</td>
      <td>2014-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>540</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Montana</td>
      <td>High</td>
      <td>677.0</td>
      <td>5</td>
      <td>15</td>
      <td>10155.0</td>
      <td>1218.600</td>
      <td>8936.400</td>
      <td>6770.0</td>
      <td>2166.400</td>
      <td>2014-03-01</td>
      <td>3</td>
      <td>March</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>555</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Paseo</td>
      <td>High</td>
      <td>380.0</td>
      <td>10</td>
      <td>15</td>
      <td>5700.0</td>
      <td>684.000</td>
      <td>5016.000</td>
      <td>3800.0</td>
      <td>1216.000</td>
      <td>2013-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>561</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>VTT</td>
      <td>High</td>
      <td>3874.5</td>
      <td>250</td>
      <td>15</td>
      <td>58117.5</td>
      <td>6974.100</td>
      <td>51143.400</td>
      <td>38745.0</td>
      <td>12398.400</td>
      <td>2014-07-01</td>
      <td>7</td>
      <td>July</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>569</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>2548.0</td>
      <td>260</td>
      <td>15</td>
      <td>38220.0</td>
      <td>4586.400</td>
      <td>33633.600</td>
      <td>25480.0</td>
      <td>8153.600</td>
      <td>2013-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>576</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Carretera</td>
      <td>High</td>
      <td>2567.0</td>
      <td>3</td>
      <td>15</td>
      <td>38505.0</td>
      <td>5005.650</td>
      <td>33499.350</td>
      <td>25670.0</td>
      <td>7829.350</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>577</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>VTT</td>
      <td>High</td>
      <td>2567.0</td>
      <td>250</td>
      <td>15</td>
      <td>38505.0</td>
      <td>5005.650</td>
      <td>33499.350</td>
      <td>25670.0</td>
      <td>7829.350</td>
      <td>2014-06-01</td>
      <td>6</td>
      <td>June</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>594</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1565.0</td>
      <td>10</td>
      <td>15</td>
      <td>23475.0</td>
      <td>3051.750</td>
      <td>20423.250</td>
      <td>15650.0</td>
      <td>4773.250</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>598</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Velo</td>
      <td>High</td>
      <td>3997.5</td>
      <td>120</td>
      <td>15</td>
      <td>59962.5</td>
      <td>7795.125</td>
      <td>52167.375</td>
      <td>39975.0</td>
      <td>12192.375</td>
      <td>2014-01-01</td>
      <td>1</td>
      <td>January</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>602</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Velo</td>
      <td>High</td>
      <td>660.0</td>
      <td>120</td>
      <td>15</td>
      <td>9900.0</td>
      <td>1287.000</td>
      <td>8613.000</td>
      <td>6600.0</td>
      <td>2013.000</td>
      <td>2013-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>607</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>VTT</td>
      <td>High</td>
      <td>1565.0</td>
      <td>250</td>
      <td>15</td>
      <td>23475.0</td>
      <td>3051.750</td>
      <td>20423.250</td>
      <td>15650.0</td>
      <td>4773.250</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>618</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>High</td>
      <td>278.0</td>
      <td>10</td>
      <td>15</td>
      <td>4170.0</td>
      <td>583.800</td>
      <td>3586.200</td>
      <td>2780.0</td>
      <td>806.200</td>
      <td>2014-02-01</td>
      <td>2</td>
      <td>February</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>620</th>
      <td>Midmarket</td>
      <td>United States of America</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1767.0</td>
      <td>10</td>
      <td>15</td>
      <td>26505.0</td>
      <td>3710.700</td>
      <td>22794.300</td>
      <td>17670.0</td>
      <td>5124.300</td>
      <td>2014-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>629</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Carretera</td>
      <td>High</td>
      <td>1513.0</td>
      <td>3</td>
      <td>15</td>
      <td>22695.0</td>
      <td>3177.300</td>
      <td>19517.700</td>
      <td>15130.0</td>
      <td>4387.700</td>
      <td>2014-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>630</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Carretera</td>
      <td>High</td>
      <td>2300.0</td>
      <td>3</td>
      <td>15</td>
      <td>34500.0</td>
      <td>4830.000</td>
      <td>29670.000</td>
      <td>23000.0</td>
      <td>6670.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>637</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Montana</td>
      <td>High</td>
      <td>2300.0</td>
      <td>5</td>
      <td>15</td>
      <td>34500.0</td>
      <td>4830.000</td>
      <td>29670.000</td>
      <td>23000.0</td>
      <td>6670.000</td>
      <td>2014-12-01</td>
      <td>12</td>
      <td>December</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>639</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>High</td>
      <td>2470.0</td>
      <td>10</td>
      <td>15</td>
      <td>37050.0</td>
      <td>5187.000</td>
      <td>31863.000</td>
      <td>24700.0</td>
      <td>7163.000</td>
      <td>2013-09-01</td>
      <td>9</td>
      <td>September</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>640</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1743.0</td>
      <td>10</td>
      <td>15</td>
      <td>26145.0</td>
      <td>3660.300</td>
      <td>22484.700</td>
      <td>17430.0</td>
      <td>5054.700</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>661</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>1743.0</td>
      <td>260</td>
      <td>15</td>
      <td>26145.0</td>
      <td>3660.300</td>
      <td>22484.700</td>
      <td>17430.0</td>
      <td>5054.700</td>
      <td>2013-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>665</th>
      <td>Midmarket</td>
      <td>Mexico</td>
      <td>Amarilla</td>
      <td>High</td>
      <td>1870.0</td>
      <td>260</td>
      <td>15</td>
      <td>28050.0</td>
      <td>3927.000</td>
      <td>24123.000</td>
      <td>18700.0</td>
      <td>5423.000</td>
      <td>2013-11-01</td>
      <td>11</td>
      <td>November</td>
      <td>2013</td>
    </tr>
    <tr>
      <th>671</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1614.0</td>
      <td>10</td>
      <td>15</td>
      <td>24210.0</td>
      <td>3631.500</td>
      <td>20578.500</td>
      <td>16140.0</td>
      <td>4438.500</td>
      <td>2014-04-01</td>
      <td>4</td>
      <td>April</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>674</th>
      <td>Midmarket</td>
      <td>Canada</td>
      <td>Paseo</td>
      <td>High</td>
      <td>2559.0</td>
      <td>10</td>
      <td>15</td>
      <td>38385.0</td>
      <td>5757.750</td>
      <td>32627.250</td>
      <td>25590.0</td>
      <td>7037.250</td>
      <td>2014-08-01</td>
      <td>8</td>
      <td>August</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>677</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>Paseo</td>
      <td>High</td>
      <td>1175.0</td>
      <td>10</td>
      <td>15</td>
      <td>17625.0</td>
      <td>2643.750</td>
      <td>14981.250</td>
      <td>11750.0</td>
      <td>3231.250</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>683</th>
      <td>Midmarket</td>
      <td>France</td>
      <td>Velo</td>
      <td>High</td>
      <td>2826.0</td>
      <td>120</td>
      <td>15</td>
      <td>42390.0</td>
      <td>6358.500</td>
      <td>36031.500</td>
      <td>28260.0</td>
      <td>7771.500</td>
      <td>2014-05-01</td>
      <td>5</td>
      <td>May</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>689</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>VTT</td>
      <td>High</td>
      <td>492.0</td>
      <td>250</td>
      <td>15</td>
      <td>7380.0</td>
      <td>1107.000</td>
      <td>6273.000</td>
      <td>4920.0</td>
      <td>1353.000</td>
      <td>2014-07-01</td>
      <td>7</td>
      <td>July</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>691</th>
      <td>Midmarket</td>
      <td>Germany</td>
      <td>VTT</td>
      <td>High</td>
      <td>1175.0</td>
      <td>250</td>
      <td>15</td>
      <td>17625.0</td>
      <td>2643.750</td>
      <td>14981.250</td>
      <td>11750.0</td>
      <td>3231.250</td>
      <td>2014-10-01</td>
      <td>10</td>
      <td>October</td>
      <td>2014</td>
    </tr>
  </tbody>
</table>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#table').DataTable();
        });
    </script>
    </body>
    </html>
    